
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.news-corner{
  font-size: 15px;
  font-family: 'Arimo', sans-serif;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.heading{
  text-align: center;
  color: #0F6292;
  font-size: 80px;
  font-weight: bolder;
}

.card-container{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 300px;
  overflow: hidden;
  box-shadow:0 0 15px -5px;
  padding: 5px;
  border-radius: 1%;
}

.card-container:hover{
  transform: scale(1.1);
  box-shadow: 0 0 15px 0;
}

.image-container{
  overflow: hidden;
  height: 200px;
  border-radius: 1%;
}

.card-footer{
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.see-more-link{
  text-decoration: none;
  color: black;
}

@media (max-width:800px) {
 .heading{
  font-size: 60px;
 } 
}

@media (max-width:500px) {
  .heading{
    font-size: 40px;
  }
}